/* Add CSS styling for the website here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #77d8f8;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#question {
  margin-bottom: 20px;
}

#options button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

#nextButton {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button.selected {
  background-color: green;
  color: white;
}

.result {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.result-message {
  color: #000;
}

.result-score {
  color: green;
}

footer {
  background-color: #000000;
  bottom: 1px;;
  left: 10px;
  position:absolute;
  padding: 10px;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
